/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */

h1{
	color: RGB(156	175	169);
}

h2{
	color: RGB(109	128	124);
}

img {
	border-style: solid;
	border-color: RGB(151	171	165);
	border-width: 4px;
}

.press {
	border-color: RGB(202	202	202);
}

a img:hover {
	border-color: RGB(112	129	123);
}

footer {
	float: right;
}
